<section>

  <div class="container">
    <h1>choose a chord and a progression</h1>


    <div class="wrapper">
    <!--Main page data such as buttons for keys and chord progressions-->

    <div class="content"> <!--Central data-->
      <!--Dropped down button format-->
      <div ng-app=songmaker>

        <!--Drop downs-->

        <!--key dropdown-->
        <div class="container">

          <div class="dropdown", type="button", ng-controller="DropDownKeyCtrl as vm">
            <button class="dropbtn" data-toggle="dropdown">
              keys <span class="caret"></span>
            </button>

            <ul class="dropdown-menu">
            <li ng-repeat="x in vm.keys">
              <a ng-click="vm.setCurrent(x)">
                {{x}}
              </a>
            </li>
          </ul><br>
          <br>


            <!--Create button that collapses-->
            <p>
              <button class="btn btn-primary" data-toggle="collapse" href="#displays" aria-expanded="false" aria-controls="displays">
                Create
              </button>
            </p>
            <div class="collapse" id="displays">
              <div class="card card-block">
                <p>Progression chosen is *Not available yet*</p>
                <p>Key chosen: {{ vm.current }}</p>
              </div>
            </div>




          </div> <!--closes dropdown-->

        <!--progression dropdown-->
        <div class="dropdown", type="button", ng-controller="DropdownProgressionsCtrl as vm">
          <button class="dropbtn" data-toggle="dropdown">
            progressions <span class="caret"></span>
          </button>

          <ul class="dropdown-menu">
            <li ng-repeat="x in vm.progressions">
              <a ng-click="vm.setCurrent(x.numprog)">
                {{ x.name }}
              </a>
            </li>
          </ul><br>
          <br>
            <p>Progression chosen (for testing): {{ vm.current }}</p>


        </div>
        </div><!--closes container-->


        <script src="lib/jquery/dist/jquery.min.js"></script>
        <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
      </div><!--closes wrapper-->
      </div><!--Closes songmaker-->
      </div><!--closes content-->

      <div class="sidebar">
        <p>Look, I'm a sidebar</p>
      </div>

</section>
