
td.select-highlight {
  background-color: #ffffff
}

input.eventtext {
  width: 140px
}

 .isPrivate {
  background-color: #ff3838;
  border: #b21818;
}

/* .public {
  background-color: #3c82d8;
  border: #3c82d8;
} */
